- @page_title = t('tienda.delivery_service_prices.delivery_services')

.row
  .col-md-12
    %h1.page-header
      = t('tienda.delivery_service_prices.delivery_services')
      -# %small Lorem ipsum dolor
/ /. ROW

.row
  .col-md-12
    %p.pull-right
      = link_to t('tienda.delivery_service_prices.back') , [@delivery_service, :delivery_service_prices], class: 'btn btn-default'

= render 'form'
