- @page_title = t('tienda.product_category.product_categories')
= content_for :header do
  %p.buttons= link_to t('tienda.product_category.back_to_categories'), :product_categories, :class => 'button'
  %h2.products= t('tienda.product_category.product_categories')
= render 'form'

