- @page_title = t('tienda.users.users')

.row
  .col-md-12
    %h1.page-header
      = t('tienda.users.users')
      -# %small Lorem ipsum dolor
/ /. ROW
.row
  .col-md-12
    %p.pull-right
      = link_to t('tienda.users.back_to_users'), :users, class: 'btn btn-default'

= render 'form'
