- @page_title = t('tienda.countries.countries')

= content_for :header do
  %p.pull-right= link_to t('tienda.countries.back'), :countries, class: 'btn btn-default'
  %h2.countries= t('tienda.countries.countries')
= render 'form'
