- @page_title = t('tienda.products.products')

= content_for :header do
  %p.buttons= link_to t('tienda.products.back_to_products') , :products, :class => 'button'
  %h2.products= t('tienda.products.products')

= render 'form'
